.footer {
    background-color: rgba(37, 39, 54, 1);
    color: #ffffff;
    padding: 15px 20px; 
    position: relative;
    font-family: montserat_regular;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .footer-logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: montserat_regular;
  }

  .footer-logo a {
    text-decoration: none;
    color: white;
  }
  
  .footer-logo img {
    height: 35px;
    margin-right: 10px;
  }
  
  .footer-links {
    display: flex;
    gap: 20px;
    font-size: 20px;
  }
  
  .footer-links a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-policy {
    text-align: center;
    color: rgb(203, 203, 203);
    font-size: 12px;
    margin-top: 2vh;
  }
  